<!--
account_firstname: Basic
account_lastname: Client
account_email: basic@340.edu
account_password: I@mABas1cCl!3nt

account_firstname: Happy
account_lastname: Employee
account_email: happy@340.edu
account_password: I@mAnEmpl0y33

account_firstname: Manager
account_lastname: User
account_email: manager@340.edu
account_password: I@mAnAdm!n1strat0r

account_firstname: Test
account_lastname: Tester
account_email: testing@test.com
account_password: Th1s!s@testaccount
account_password_reset: AD1ffer$rentPassword
hash compare: $2a$10$6JdBXox4UDyQ/O/RAuUve.iCyKdN5icBsBrsWtc0fUpfJPhQnjHVC
hash compare: $2a$10$6JdBXox4UDyQ/O/RAuUve.iCyKdN5icBsBrsWtc0fUpfJPhQnjHVC
-->


<div class="baseView">
    <% if (title) { %>
        <h1><%= title %></h1>
        <% } else {
        res.redirect('/')
        } %>

    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
    <div class="formBox" id="loginBox">
        <form id="loginForm" action="/account/login" method="post">
            <label for="account_email">Email</label><br>
            <input class="inputBox" type="email" id="account_email" name="account_email" required value="<%= locals.account_email %>"><br>
            <label for="account_password">Password</label><br>
            <input class="inputBox" type="password" id="account_password" name="account_password" required><br>
            <span class="inputReq">Password must be at least 12 characters, one must be a number, one must be a lowercase letter,
                 one must be a capital letter, and one must be a non-alphanumeric character.</span>
            <div id="buttonHolder">
                <input class="formButton" type="submit" value="LOGIN">
                <p>No Account? <a href="/account/register">Sign-Up</a></p>
            </div>
        </form>
        
    </div>

</div>