/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* Fonts */
body{
  font-family: Verdana, sans-serif;
  background-image: url('../images/site/small_check.jpg');
  margin: 0;
}

#wrapper{
  background-color: white;
 
  width: 482px;
  margin: auto;
  border-style: solid;
  border-width: 4px;
  border-color: darkcyan;
  border-radius: 15px;
}

/* Header */
header{
  display: flex;
  justify-content: space-between;
  padding: 1em .5em 1.5em .5em;
  background-color: white;

}

.siteName {
  font-weight: bold;
  font-size: 2.5rem;
  padding-left: .2em;
}

header a, header a:link, .siteName a:visited, header a:active{
  text-decoration: none;
  color: black;
}

header div{
  font-weight: lighter;
  font-size: 1rem;
  padding-right: .5em;
}

/* Nav */

nav{
  background-color: white;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  list-style-type: none;
  padding: 1em 0 1em 0;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

nav ul li a:hover{
  color: darkcyan;
  text-decoration: underline;
  font-weight: bolder;
}

img{
  max-width: 80%;
  height: auto;
}
/* index */
main{


  padding: 0 1em 0 1em;
  background-color: white;
}

h1{
  font-size: 1.3em;
  font-weight: 900;
}

#delPopup{
  background-color:rgba(255, 255, 255, 0.63);
  color: rgb(2, 189, 189);
  position: absolute;
}

#delPopup h3{
  padding: 0;
  margin: 0;
}

#delPopup ul{
  margin: .1em 0 0 0;
  padding: 0;
  list-style: none;
  font-size: .9em;
  font-weight: bolder;
}

#delPopup button{
  background-color: darkcyan;
  padding: .6em 1.4em .6em 1.4em;
  font-size: .8em;
  font-weight: 900;
  letter-spacing: .03em;
  border-color: rgb(192, 192, 192);
  margin-top: .4em;
}

#del1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#del2 h1{
  margin-top: 2em;
}

#del2 ul{
  line-height: 2em;
  padding-left: 1.3em;
}


#del3 h1{
  margin-top: 1em;
}

.upgradeGrid{
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 1em;
  width: 450px;
}

.upgradeGrid div{
  text-align: center;
}

.gridItem{
  margin-bottom: 2em;
}

.gridPic{
  background-color: darkcyan;
  border-style: solid;
  border-width: 1px;
  border-color: black;

}
.gridItem img{
  width: 10px;
  background-color: darkcyan;
}
/* Footer */
footer{
  padding: 1em 0 0 1em;
  font-size: .8em;
}


/* Classification View*/
#classificationGrid{
  grid-column-start: 1;
  grid-column-end: 3;
  
}

#classificationGrid h1{
  background-color: rgb(1, 58, 58);
  color:white;
  padding: 1em;
  border-radius: 3px;
}

#inv-display{
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  padding: 0;
  justify-content: center;
}

#inv-display li{
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 6px;
}

#inv-display li:hover{
  border-color: darkcyan;
  border-width: 3px;
}

#inv-display li a{
  height: 100%;
  text-align: center;
 
}

#inv-display li a img{
  object-fit: contain;
  padding-top: .3em;
  height: 130px;
}

.namePrice h2{
  font-size: .9em;
  text-align: center;
  margin: .5em auto .5em auto;
}

.namePrice hr{
  margin: 0;
}

.namePrice span{
  font-size: .9em;
  display: table;
  margin: 0 auto;
  padding-bottom: 1em;
}

/*Inventory View*/
#inventory-view {
  grid-column-start: 1;
  grid-column-end: 3;
}

#inventory-view h1{
  background-color: rgb(1, 58, 58);
  color:white;
  padding: 1em;
  border-radius: 3px;
}

#inventory-view h2{
  font-size: 1.2em;
  padding: .3em .5em;
  text-align: center;
}

#inventory-view img{
  display: block;
  margin: auto;
  padding: 1em;
}

#inventory-view h3{
  padding: .3em .5em;
}

#inventory-view h3:nth-child(odd){
  background-color: lightgray;
  border-radius: 10px;
}

#inventory-view span{
  font-weight: 400;
  font-size: .9em;
}

/* Error Message*/
#errorMessage {
  grid-column-start: 1;
  grid-column-end: 3;
}

.notice {
  padding: 1em;
}

/*Login View*/
.baseView{
  grid-column-start: 1;
  grid-column-end: 3;
  margin: auto;
  padding: 0 1em;
  text-align: center;
}

.formBox {
  text-align: left;
  background-color: rgb(44, 63, 82);
  padding: 1em;
  width: 400px;
  border-style: double;
  border-width: 10px;
  border-color: lightblue;
}

.formBox form>*{
  margin: .5em 0 1em 0;
}

.formBox label{
  color: white;
}

.formBox input{
  border-style: none;
}

.formBox .inputBox{
  border-radius: 6px;
  width: 100%;
  padding: .3em .1em;
  font-size: 1.1em;
}

#buttonHolder{
  text-align: center;
}
#buttonHolder p{
  color: white;
}
#buttonHolder p a{
  color: white;
}

#buttonHolder p a:hover{
  color: cyan;
}

.formButton {
  margin-top: 1em;
  border-radius: 15px;
  padding: .5em 1.7em;
}

.formButton:hover {
  background-color: cyan;
}

.formButton:active {
  background-color: rgb(194, 194, 194);
  font-weight: bolder;
}

.inputReq{
  color: white;
}


/*For flash messages*/
.notice {
  color: red;
  list-style: none;
}

/*Managment View*/
#manageView ul{
  list-style-type: none;
  padding: 0;
}

#manageView ul li{
  background-color: rgb(44, 63, 82);
  padding: 1em;
  border-style: double;
  border-width: 10px;
  border-color: lightblue;
  margin: 1em 0;
}

#manageView ul a{
  color: white;
}

#manageView ul a:hover{
  color: cyan;
}

#classificationList {
  border-radius: 6px;
  width: 100%;
  padding: .3em .1em;
  font-size: 1.1em;
}

@media only screen and (min-width: 1028px) {
  #wrapper{
    width: 900px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  main{
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
  }

  #del1{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #del2{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .upgradeGrid{
    width: 400px;
  }

  /*Inventory View*/
  #inventory-view{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #inventory-view h1{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #inventory-view img{
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0;
  }

  #inventory-view #vehicle-details{
    grid-column-start: 2;
    grid-column-end: 3;
  }

}