<div id="manageView" class="baseView">
    <% if (title) { %>
        <h1><%= title %></h1>
        <% } else {
        res.redirect('/')
        } %>



    <%- messages() %>
    <ul>
        <li><a href="inv/add-classification">Add New Classification</a></li>
        <li><a href="inv/add-inventory">Add New Vehicle</a></li>
    </ul>

    <h2>Manage Inventory</h2>

    <p>Select a Classification to see vehicles belonging to it.</p>
    <%- classificationSelect %>
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
</div>

<script src="../../js/inventory.js"></script>